extends ../layouts/common

block content
	.row
		each item in products
			.card(style='width: 18rem;' class="col-3 mb-2")
				img.card-img-top(src=item.img)
				.card-body
				h5.card-title= item.name
				p.card-text= item.description
				p.card-text= item.price
				a.btn.btn-primary(href='/cart/add/' + item.id) Add to card